/.idea/
/.vs/

/AuthService/AuthService/logs/

/AuthService/Application/bin/
/AuthService/Application/obj/

/AuthService/Domain/bin/
/AuthService/Domain/obj/

/AuthService/Infrastructure/bin/
/AuthService/Infrastructure/obj/

/ProjectBase/bin/
/ProjectBase/obj/

*.cache


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/